.element {
  margin: 10px auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.approved {
    background-color: rgba(0, 255, 0, .5);
  }

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
